:root{
  --azul-principal: #2563eb;
  --azul-oscuro: #1e3a8a;
  --azul-claro: #3b82f6;
  --fondo: #f4f6fb;
  --card: #ffffff;
  --texto: #0f172a;
  --muted: #64748b;
  --accent: #00bcd4;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
